body{
	background: #435B70;
	color: #ffffff;
	font: 15px verdana;
}

.snacknav{
	margin-top: 200px;
	margin-right: 100px;
	width: 100px;
	height: 200px;
	background: #9D669D;
	position: absolute;
}

.snackdisplay{
	margin-left: 200px;
	width: 100px;
	height: 100px;
	border: #45B8C1;
	background: #ffffff;
	position: absolute;
}

.snackreel{
	background: #ffffff;
	margin-top: 200px;
	margin-right: 251px;
	width: 410px;
	height: 200px;
	border: 5px solid #45B8C1;
	position: absolute;
}

