body{
	background: #435B70;
	color: #000000;
	font: 15px verdana;
}

#snacknav{
	top: 200px;
	left: 260px;
	width: 100px;
	height: 220px;
	border: 5px solid #ffffff;
	background: #45B8C1;
	position: absolute;
}

#snackdisplay{
	background: #ffffff;
	top: 200px;
	right: 300px;
	width: 110px;
	height: 110px;
	border: 5px solid #45B8C1;
	position: absolute;
}

#snackreel{
	top: 200px;
	left: 400px;
	width: 420px;
	height: 220px;
	border: 5px solid #45B8C1;
	background: #ffffff;
	position: absolute;
}

.snack-img{
	display: inline-block;
	width: 100px;
	height: 100px;
}

h1{
	color: #ffffff;
	font: 85px Courier New;
	letter-spacing: 3pt;
	border-bottom: 10px solid #9D669D;
	top: 80px;
	left: 260px;
	width: 716;
	position: absolute;
	text-align: center;
}
